<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techwise Project 3 Week <%= locals.week %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;900&family=Open+Sans:wght@300&family=Source+Sans+3:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg" href="/static/daytona.svg">
    <%- include("../style") %>
</head>
<body>
