<%- include("../partials/head") %>
    <%- include("./style") %>
    <fullpage id="p0" active="1">
        <center class="centered nospace" id="titlecard" style="opacity: 0;">
            <h1 class="nospace">Techwise</h1>
            <h1 id="titletext" style="font-size: 125px;" class="nospace">Project 3<div id="titleunderline" class="nospace" style="position: absolute; bottom: -30px; width: 0%; height: 3px; left: 50%; transform: translateX(-50%); background-color: white;"></div></h1>
        </center>
        <h2 id="byline" class="nospace" style="opacity: 0; position: absolute; bottom: 30px; right: 30px; font-weight: 400;">Madum Team</h2>
    </fullpage>
    <fullpage id="p1" active="0">
        <center class="centered nospace">
            <h1 class="nospace" style="font-size: 60px;">Recap</h1>
            <div id="challengers" style="position: relative; height: 0vh; width: 100vw; overflow: visible; opacity: 0;">
                <img src="/static/daytona.svg" style="height: 30vh; margin: 2vh">
                <div style="opacity: 0; left: 50%; position: absolute; width: 30%; top: 17vh; text-align: left; transform: translateY(-50%);">
                    <h1 class="nospace">Daytona</h1>
                    <ul class="margin: 0; padding-top: 0;"></ul>
                </div>
            </div>
        </center>
    </fullpage>
    <fullpage id="p2" active="0">
        <center class="centered nospace">
            <h1 class="nospace" style="font-size: 60px;">Oauth2 API</h1>
            <center style="position: relative; height: 0; opacity: 0; overflow: visible; margin-top: 0; width: 100vw;">
                <img style="display: inline-block; margin-right: 2vh; height: 50vh;" src="/static/googleSignIn.png">
                <img style="display: inline-block; height: 50vh;" src="/static/microsoftSignIn.png">
            </center>
        </center>
    </fullpage>
    <fullpage id="p3" active="0">
        <center class="centered nospace">
            <h1 class="nospace" style="font-size: 60px;">Email Setup</h1>
            <center style="position: relative; height: 0; opacity: 0; overflow: visible; margin-top: 0; width: 100vw;">
                <div>
                    <img style="display: inline-block; height: 50vh; margin-right: 2vh;" src="/static/amazonSESPricing.png">
                    <img style="display: inline-block; height: 50vh;" src="/static/sendGridPricing.png">
                </div>
                <img src="/static/postalBanner.png" style="opacity: 0; height: 30vh; position: absolute; top: 0; transform: translateX(-50%);">
                <img src="/static/postalBruh.png" style="opacity: 0; height: 50vh; position: absolute; top: 0; transform: translateX(-50%);">
                <img src="/static/postalRequirements.png" style="opacity: 0; height: 50vh; position: absolute; top: 0; transform: translateX(-50%);">
            </center>
        </center>
        <img src="/static/100gbRequirement.png" class="nospace centered" style="width: 100vw; height: 100vh; opacity: 0; transition: 0s;">
    </fullpage>
    <fullpage id="p4" active="0">
        <center class="centered nospace">
            <h1 class="nospace" style="font-size: 60px;">Getting a Server</h1>
        </center>
    </fullpage>
    <fullpage id="p5" active="0">
        <img src="/static/qrCode.svg" class="nospace" style="height: 30vh; position: absolute; right: 51vw; top: 50%; transform: translateY(-50%); opacity: 0;">
        <h1 class="centered nospace" style="font-size: 60px;">Thank you for listening!</h1>
    </fullpage>
    <%- include("./script") %>
<%- include("../partials/feet") %>