<%- include("../partials/head") %>
    <fullpage id="p0" active="1">
        <center class="centered nospace" id="titlecard" style="opacity: 0;">
            <h1 class="nospace">Techwise</h1>
            <h1 id="titletext" style="font-size: 125px;" class="nospace">Project 3<div id="titleunderline" class="nospace" style="position: absolute; bottom: -30px; width: 0%; height: 3px; left: 50%; transform: translateX(-50%); background-color: white;"></div></h1>
        </center>
        <h2 id="byline" class="nospace" style="opacity: 0; position: absolute; bottom: 30px; right: 30px; font-weight: 400;">Madum Team</h2>
    </fullpage>
    <fullpage id="p1" active="0">
        <center class="centered nospace">
            <h1 class="nospace" style="font-size: 60px;" id="titlecard">Problem</h1>
            <div id="challengers" style="position: relative; height: 175px; width: 100vw;">
                <div style="height: max-content; display: inline-block; position: absolute; left: 50%; top: 50%; transform: translateX(-50%);" id="nodelogo">
                    <img src="https://jordankasper.com/images/nodejs.png" class="centered" id="node" style="height: 150px; opacity: 0;">
                    <h1 class="nospace" style="position: absolute; font-family: 'Open Sans', sans-serif; font-size: 80px; top: 50%; transform: translate(-50%, -60%); left: 50%; opacity: 1;" id="express">Express</h1>
                </div>
                <h1 class="centered nospace" style="font-size: 60px; transform: translate(175px, -50%); opacity: 0;" id="vs">vs</h1>
                <div style="position: absolute; display: flex; flex-direction: row; justify-content: center; right: 50%; top: 50%; transform: translate(675px, -50%); opacity: 0;" id="bunlogo">
                    <img style="height: 150px; align-self: center; margin-right: 20px;" src="https://bun.sh/logo-square.png">
                    <img style="height: 75px; align-self: center;" src="/static/bun.png">
                </div>
            </div>
            <div id="graphs" style="position: relative; width: 66vw; height: 0px; border-left: 3px solid white; border-right: 3px solid white;">
                <div id="barsContainer" style="position: absolute; width: 100%; height: 100%; left: 0px; display: flex; flex-direction: column; justify-content: space-evenly;">
                    <div id="reactGraph" style="width: 100%; height: 150px; position: relative;">
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; left: -40px; transform: translate(-100%, -50%); font-size: 50px; opacity: 0;">React</h1>
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; right: -40px; transform: translate(100%, -50%); font-size: 50px; opacity: 0;">React</h1>
                        <div id="node" style="background: rgb(93, 89, 134); position: absolute; left: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%);">13,813</h1></div>
                        <div id="bun" style="background: rgb(60, 60, 60); position: absolute; right: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; left: 20px; transform: translateY(-50%);">68,181</h1></div>
                    </div>
                    <div id="websocketGraph" style="width: 100%; height: 150px; position: relative;">
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; left: -40px; transform: translate(-100%, -50%); font-size: 50px; opacity: 0;">Node ws</h1>
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; right: -40px; transform: translate(100%, -50%); font-size: 50px; opacity: 0;">Bun.serve()</h1>
                        <div id="node" style="background: rgb(93, 89, 134); position: absolute; left: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%);">196,705</h1></div>
                        <div id="bun" style="background: rgb(60, 60, 60); position: absolute; right: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; left: 20px; transform: translateY(-50%);">1,228,800</h1></div>
                    </div>
                    <div id="sqliteGraph" style="width: 100%; height: 150px; position: relative;">
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; left: -40px; transform: translate(-100%, -50%); font-size: 50px; opacity: 0;">better-sqlite3</h1>
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; right: -40px; transform: translate(100%, -50%); font-size: 50px; opacity: 0;">Bun sqlite</h1>
                        <div id="node" style="background: rgb(93, 89, 134); position: absolute; left: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%);">21.03</h1></div>
                        <div id="bun" style="background: rgb(60, 60, 60); position: absolute; right: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; left: 20px; transform: translateY(-50%);">65.57</h1></div>
                    </div>
                </div>
            </div>
        </center>
    </fullpage>
    <fullpage id="p2" active="0">
        <center class="centered">
            <h1 class="nospace" style="font-size: 60px;">Solution</h1>
            <div class="nospace" style="position: relative; width: 100vw; top: 2vh; height: 0;">
                <div id="daytonaCode" class="nospace" style="position: absolute; width: 33vw; left: 17vw; height: 100%; overflow: hidden;">
                    <img src="/static/daytonaExample.png" style="position: absolute; height: calc(80vh - 75px); left: 0; top: 0;">
                </div>
                <div id="expressCode" class="nospace" style="position: absolute; width: 33vw; right: 17vw; height: 100%; overflow: hidden;">
                    <img src="/static/expressExample.png" style="position: absolute; height: calc(80vh - 75px); left: 0; top: 0;">
                </div>
                <img src="/static/workingExample.png" style="position: absolute; height: 100%; transform: translateX(-50%); left: 50%; opacity: 0;">
            </div>
        </center>
        <img id="daytonaLogo" class="nospace" src="/static/daytona.svg" style="opacity: 0; height: 500px; position: absolute; top: 50%; right: 50%; transform: translate(50%, calc(-50% + 100px));">
        <h1 id="expressLogo" class="nospace" style="position: absolute; font-family: 'Open Sans', sans-serif; font-size: 80px; top: 50%; transform: translate(0%, -60%); left: 85%; opacity: 0;">Express</h1>
    </fullpage>
    <fullpage id="p3" active="0">
        <div id="container" style="position: absolute; height: 100vh; top: 0; display: flex; flex-direction: row; justify-content: space-around; left: 50%; transform: translateX(-50%)">
            <div id="barsContainer" class="nospace" style="align-self: flex-start; position: relative; width: 30vw; margin-right: 5vw; height: 90vh; border-bottom: 3px solid white; display: flex; flex-direction: row; justify-content: space-evenly; opacity: 0;">
                <div id="daytonaGraph" style="position: relative; width: 40%; height: 100%; align-self: flex-end;">
                    <center id="bar" style="position: absolute; width: 100%; height: 0; background: rgb(93, 89, 134); bottom: 0; overflow: hidden">
                        <img src="/static/daytona.svg" style="position: relative; height: 4vw; top: 2vh;">
                        <h2 style="margin: 40px;"><span>0</span> requests per second</h2>
                    </center>
                </div>
                <div id="expressGraph" style="position: relative; width: 40%; height: 100%; align-self: flex-end;">
                    <center id="bar" style="position: absolute; width: 100%; height: 0; background: rgb(60, 60, 60); bottom: 0; overflow: hidden">
                        <h1 class="nospace" style="position: relative; font-family: 'Open Sans', sans-serif; font-size: 1.5vw; top: 2vh;">Express</h1>
                        <h2 style="margin: 40px;"><span>0</span> requests per second</h2>
                    </center>
                </div>
            </div>
            <div style="position: relative; align-self: center; width: 20vw; margin-right: 30vw;" id="textContainer">
                <h1 class="nospace" style="font-size: 60px; margin-top: 80px;">Statistics</h1>
                <h1 id="stats" style="opacity: 0;">
                    <span id="title">never gonna give you up</span> Test<br>
                    daytona is <span id="multiplier"></span>x faster
                </h1>
            </div>
        </div>
    </fullpage>
    <fullpage id="p4" active="0">
        <h1 class="centered nospace" style="font-size: 60px;">Difficulties/Learnings</h1>
        <div id="middleware" class="centered nospace" style="opacity: 0; height: 60vh; width: 60vw;">
            <h1 class="nospace centered" style="font-size: 75px; font-family: 'Source Sans 3', sans-serif; top: 25%; left: 25%">helmet</h1>
            <h1 class="nospace centered" style="font-size: 75px; font-family: 'Source Sans 3', sans-serif; top: 25%; left: 75%">cors</h1>
            <h1 class="nospace centered" style="font-size: 75px; font-family: 'Source Sans 3', sans-serif; top: 75%; left: 25%">cookie-parser</h1>
            <h1 class="nospace centered" style="font-size: 75px; font-family: 'Source Sans 3', sans-serif; top: 75%; left: 75%">express.static</h1>
        </div>
        <h1 class="centered nospace" style="font-size: 100px; opacity: 0; text-align: center;" id="ossource">Open/Closed Source</h1>
    </fullpage>
    <fullpage id="p5" active="0">
        <h1 class="centered nospace" style="font-size: 60px;">Future?</h1>
    </fullpage>
    <fullpage id="p6" active="0">
        <img src="/static/qrCode.svg" class="nospace" style="height: 30vh; position: absolute; right: 51vw; top: 50%; transform: translateY(-50%); opacity: 0;">
        <h1 class="centered nospace" style="font-size: 60px;">Thank you for listening!</h1>
    </fullpage>
    <%- include("./script") %>
<%- include("../partials/feet") %>