<%- include("../partials/head") %>
    <%- include("./style") %>
    <fullpage id="p0" active="1">
        <center class="centered nospace" id="titlecard" style="opacity: 0;">
            <h1 class="nospace">Techwise</h1>
            <h1 id="titletext" style="font-size: 125px;" class="nospace">Project 3<div id="titleunderline" class="nospace" style="position: absolute; bottom: -30px; width: 0%; height: 3px; left: 50%; transform: translateX(-50%); background-color: white;"></div></h1>
        </center>
        <h2 id="byline" class="nospace" style="opacity: 0; position: absolute; bottom: 30px; right: 30px; font-weight: 400;">Madum Team</h2>
    </fullpage>
    <fullpage id="p1" active="0">
        <center class="centered nospace">
            <h1 class="nospace" style="font-size: 60px;">Recap</h1>
            <div id="challengers" style="position: relative; height: 0vh; width: 100vw; overflow: visible; opacity: 0;">
                <img src="/static/daytona.svg" style="height: 30vh; margin: 2vh">
                <div style="opacity: 0; left: 50%; position: absolute; width: 30%; top: 17vh; text-align: left; transform: translateY(-50%);">
                    <h1 class="nospace">Daytona</h1>
                    <ul class="margin: 0; padding-top: 0;"></ul>
                </div>
            </div>
        </center>
    </fullpage>
    <fullpage id="p2" active="0">
        <div style="background: #323232; position: absolute; width: 100%; height: 100%; overflow: hidden;opacity: 0; z-index: 1;" id="background"></div>
        <center class="centered" style="z-index: 2;">
            <h1 class="nospace" style="font-size: 60px;">RMDY</h1>
            <div style="position: relative; top: 5vh; display: flex; flex-direction: row; opacity: 0; overflow: visible; height: 0; --e: 30vh; justify-content: center;">
                <img style="height: 30vh; background: white;" src="https://images.datacamp.com/image/upload/v1647430873/kaggle_logo_icon_168474_4eb653edb6.png">
                <div style="opacity: 0; height: 30vh; width: 0; overflow: visible; --e: calc(30vh * 1029 / 579)">
                    <img style="height: 30vh;" src="https://aimi.stanford.edu/sites/g/files/sbiybj20451/files/styles/responsive_large/public/media/image/aimi-gcp_0.png?itok=nYuQKnWS">
                </div>
            </div>
        </center>
        <iframe src="http://localhost:3000" frameborder="0" style="height: 100%; width: 100%; z-index: 3; position: absolute;" active="0"></iframe>
        <div style="position: absolute; right: 0; bottom: 0; height: 100px; width: 100px; z-index: 4; cursor: pointer;"></div>
    </fullpage>
    <fullpage id="p3" active="0" style="background: white; overflow-y: scroll;">
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <a class="nospace centered" style="font-size: 3vh; color: #BE1212; font-family: IBM Plex Serif; left: 20vw; text-decoration: none;">login</a>
        <a class="nospace centered" style="font-size: 3vh; color: #BE1212; font-family: IBM Plex Serif; left: 80vw; text-decoration: none;">signup</a>
        <h1 class="banner" style="top: 100vh;">where kid volunteers read<br>to kids in the hospital</h1>
        <div style="margin: 5vw; width: 90vw; display: flex; justify-content: space-between; position: absolute; top: 120vh; color: #BE1212">
            <h1 style="padding-right: 5vh; font-size: 52px; font-family: IBM Plex Serif;">
                at storiology, we are driven by a single goal: to do our part in making the world a better place for all, including the kids in hospitals.
                <p style="font-size: 36px; font-family: IBM Plex Serif;">build productive relationships | make a positive impact</p>
            </h1>
            <img src="/static/smolkenji.png" style="height: 40vh" />
        </div>
        <div style="position: absolute; top: calc(160vh + 10vw); font-family: IBM Plex Serif; padding: 7.5vh; height: 50vh; width: auto; justify-content: start;" class="banner">
            <h1 class="nospace" style="font-family: IBM Plex Serif; -webkit-text-stroke: 0.2vh white; font-size: 10vh; color: transparent; line-height: 0.75">Recognition</h1>
            <h1 class="nospace" style="font-family: IBM Plex Serif; font-size: 10vh">Recognition</h1>
            <span style="font-weight: 900; font-family: Inter; color: white; position: absolute; top: 15vh; left: 20%; transform: translate(-50%, -50%); font-size: 30vh">+</span>
            <span style="font-weight: 900; font-family: Inter; color: white; position: absolute; top: 15vh; left: 80%; transform: translate(-50%, -50%); font-size: 30vh">+</span>
            <div style="width: calc(100vw - 15vh); display: flex; flex-direction: row; height: 45vh">
                <div style="width: calc(50vw - 7.5vh); position: relative">
                    <div class=centered style="width: 75%; text-align: center">
                        <h1 class=nospace style="font-family: IBM Plex Serif; font-size: 5vh">“Storiology is such a great idea”</h1>
                        <p style="font-family: IBM Plex Serif; font-size: 3vh;">- Angie Sage, author of the <i style="font-family: IBM Plex Serif;">Septimus Heap</i> series</p>
                    </div>
                </div>
                <div style="width: calc(50vw - 7.5vh); position: relative">
                    <div class=centered style="width: 75%; text-align: center">
                        <h1 class=nospace style="font-family: IBM Plex Serif; font-size: 5vh">“I’d love to donate some books to Storiology”</h1>
                        <p style="font-family: IBM Plex Serif; font-size: 3vh;">- Adam Gidwitz, author of <i style="font-family: IBM Plex Serif;">A Tale Dark and Grimm</i></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: absolute; top: calc(225vh + 10vw); left: 0; height: 100vh; width: 100vw;">
            <center class="centered">
                <h1 style="color: #BE1212; font-size: 60px; font-family: IBM Plex Serif;">Difficulties/Learnings</h1>
                <div style="position: relative; display: flex; flex-direction: row; height: 40vh; justify-content: center;">
                    <img style="height: 100%" src="https://www.renown.org/-/media/Project/Renown/RenownHealth/Newsroom/Images/Press-Releases/Newsroom_Renown_Health_Logo_880x495.jpg?h=495&iar=0&w=880&rev=87bfa355227a422296053c61e30d200a&hash=5B0B2FF9B1DC5318E4C3B5CC50A7DCB6">
                    <img style="height: 100%" src="https://media.zenfs.com/en/globenewswire.com/e29307a3ef7b83e67b3b3bdfdb4ea5e0">
                </div>
            </center>
        </div>
    </fullpage>
    <fullpage id="p4" active="0">
        <h1 class="nospace centered" style="font-size: 60px;">Alego</h1>
    </fullpage>
    <fullpage id="p5" active="0">
        <img src="/static/qrCode.svg" class="nospace" style="height: 30vh; position: absolute; right: 51vw; top: 50%; transform: translateY(-50%); opacity: 0;">
        <h1 class="centered nospace" style="font-size: 60px;">Thank you for listening!</h1>
    </fullpage>
    <%- include("./blob") %>
    <%- include("./script") %>
<%- include("../partials/feet") %>