<script>
    var curr = 0;
    var queue = [
        function(){
            document.querySelector("fullpage#p0 > h2#byline").style.opacity = "1";
            document.querySelector("fullpage#p0 > center#titlecard").style.opacity = "1";
            document.querySelector("fullpage#p0 > center#titlecard > h1#titletext > div#titleunderline").style.width = "80%";
        },
        function(){
            document.querySelector("fullpage#p0").setAttribute("active", 0);
            document.querySelector("fullpage#p1").setAttribute("active", 1);
        },
        function(){
            document.querySelector("fullpage#p1 > center > div#challengers").style.height = "32vh";
            document.querySelector("fullpage#p1 > center > div#challengers").style.opacity = 1;
        },
        function(){
            document.querySelector("fullpage#p1 > center > div#challengers > img").style.transform = "translateX(calc(-50% - 2vh))";
            document.querySelector("fullpage#p1 > center > div#challengers > div").style.opacity = "1";
        },
        function(){ var li = document.createElement("li"); li.innerText = "Bun implementation of express"; document.querySelector("ul").appendChild(li); },
        function(){ var li = document.createElement("li"); li.innerText = "Over 2x faster than express"; document.querySelector("ul").appendChild(li); },
        function(){ var li = document.createElement("li"); li.innerText = "Supports a large majority of express' features"; document.querySelector("ul").appendChild(li); },
        function(){ var li = document.createElement("li"); li.innerText = "Most express middlewares are compatible with it"; document.querySelector("ul").appendChild(li); },
        function(){ var li = document.createElement("li"); li.innerText = "Made for madum"; document.querySelector("ul").appendChild(li); },
        function(){
            var ul = document.createElement("ul");

            var li = document.createElement("li");
            li.innerText = "RMDY";

            ul.appendChild(li);
            document.querySelector("ul").appendChild(ul);
        },
        function(){ var li = document.createElement("li"); li.innerText = "storiology"; document.querySelector("ul > ul").appendChild(li); },
        function(){ var li = document.createElement("li"); li.innerText = "Alego"; document.querySelector("ul > ul").appendChild(li); },
        function(){
            document.querySelector("fullpage#p1").setAttribute("active", 0);
            document.querySelector("fullpage#p2").setAttribute("active", 1);
        },
        async function(){
            var blobInput = [{
                size: 30,
                top: 40,
                left: 5
            }, {
                size: 40,
                top: 100,
                left: 35
            }, {
                size: 50,
                top: 50,
                left: 90
            }];
            generateBlobs(blobInput, document.querySelector("fullpage#p2 > div#background"));
            
            document.querySelector("fullpage#p2 > div#background").style.opacity = 1;
            document.querySelector("fullpage#p2 > center > h1").style.fontSize = "128px";

            await sleep(1000);
            
            document.querySelector("fullpage#p2 > center > h1").style.transition = "0s";
            document.querySelector("fullpage#p2 > center > h1").style.fontWeight = "300";
            document.querySelector("fullpage#p2 > center > h1").style.fontFamily = "Inter";
            
            await sleep(1000);
            
            document.querySelector("fullpage#p2 > center > h1").style.transition = "1s";
        },
        async function(){
            document.querySelector("iframe").setAttribute("active", "1");
            await sleep(1000);
            document.querySelector("fullpage#p2 > center > h1").innerHTML = "<span style='font-size: 60px; font-family: Inter; font-weight: 300'>RMDY:</span><br>Difficulties/Learnings";
        },
        async function(){
            document.querySelector("iframe").setAttribute("active", "0");
            await sleep(1000);
            document.querySelector("iframe").remove();
        },
        () => document.querySelector("fullpage#p2 > center > div").style.animation = "1s verticalGrow forwards",
        function(){
            document.querySelector("fullpage#p2 > center > div > div").style.marginLeft = "5vh";
            document.querySelector("fullpage#p2 > center > div > div").style.animation = "1s horizontalGrow forwards";
        },
        function(){
            document.querySelector("fullpage#p2").setAttribute("active", 0);
            document.querySelector("fullpage#p3").setAttribute("active", 1);
            document.querySelectorAll("fullpage#p3 > h1").forEach(function(h1, i){
                h1.style.top = (50+(i-3)*90/7)+"vh";
            });
        },
        function(){
            document.querySelector("fullpage#p3").setAttribute("active", 0);
            document.querySelector("fullpage#p4").setAttribute("active", 1);
        },
        function(){
            document.querySelector("fullpage#p4").setAttribute("active", 0);
            document.querySelector("fullpage#p5").setAttribute("active", 1);
        },
        function(){
            document.querySelector("fullpage#p5 > img").style.opacity = 1;
            document.querySelector("fullpage#p5 > h1").style.transform = "translate(0, -50%)";
            document.querySelector("fullpage#p5 > h1").style.left = "51vw";
            document.querySelector("fullpage#p5 > h1").style.width = "25vw";
        }
    ];

    document.onkeydown = (e) => {
        if(e.key == "ArrowRight" || e.key == " ") next()
    };

    function next(){
        if(curr >= queue.length) return;
        queue[curr]();
        curr++;
    }

    function sleep(time){
        return new Promise(function(resolve, reject){
            setTimeout(resolve, time);
        });
    };
</script>