<%- include("../partials/head") %>
    <%- include("./style") %>
    <fullpage id="p0" active="1">
        <center class="centered nospace" id="titlecard" style="opacity: 0;">
            <h1 class="nospace">Techwise</h1>
            <h1 id="titletext" style="font-size: 125px;" class="nospace">Project 3<div id="titleunderline" class="nospace" style="position: absolute; bottom: -30px; width: 0%; height: 3px; left: 50%; transform: translateX(-50%); background-color: white;"></div></h1>
        </center>
        <h2 id="byline" class="nospace" style="opacity: 0; position: absolute; bottom: 30px; right: 30px; font-weight: 400;">Madum Team</h2>
    </fullpage>
    <fullpage id="p1" active="0">
        <center class="centered nospace">
            <h1 class="nospace" style="font-size: 60px;" id="titlecard">Problem</h1>
            <div id="challengers" style="position: relative; height: 175px; width: 100vw;">
                <div style="height: max-content; display: inline-block; position: absolute; left: 50%; top: 50%; transform: translateX(-50%);" id="nodelogo">
                    <img src="https://jordankasper.com/images/nodejs.png" class="centered" id="node" style="height: 150px; opacity: 0;">
                    <h1 class="nospace" style="position: absolute; font-family: 'Open Sans', sans-serif; font-size: 80px; top: 50%; transform: translate(-50%, -60%); left: 50%; opacity: 1;" id="express">Express</h1>
                </div>
                <h1 class="centered nospace" style="font-size: 60px; transform: translate(175px, -50%); opacity: 0;" id="vs">vs</h1>
                <div style="position: absolute; display: flex; flex-direction: row; justify-content: center; right: 50%; top: 50%; transform: translate(675px, -50%); opacity: 0;" id="bunlogo">
                    <img style="height: 150px; align-self: center; margin-right: 20px;" src="https://bun.sh/logo-square.png">
                    <img style="height: 75px; align-self: center;" src="/static/bun.png">
                </div>
            </div>
            <div id="graphs" style="position: relative; width: 66vw; height: 0px; border-left: 3px solid white; border-right: 3px solid white;">
                <div id="barsContainer" style="position: absolute; width: 100%; height: 100%; left: 0px; display: flex; flex-direction: column; justify-content: space-evenly;">
                    <div id="reactGraph" style="width: 100%; height: 150px; position: relative;">
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; left: -40px; transform: translate(-100%, -50%); font-size: 50px; opacity: 0;">React</h1>
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; right: -40px; transform: translate(100%, -50%); font-size: 50px; opacity: 0;">React</h1>
                        <div id="node" style="background: rgb(93, 89, 134); position: absolute; left: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%);">13,813</h1></div>
                        <div id="bun" style="background: rgb(60, 60, 60); position: absolute; right: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; left: 20px; transform: translateY(-50%);">68,181</h1></div>
                    </div>
                    <div id="websocketGraph" style="width: 100%; height: 150px; position: relative;">
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; left: -40px; transform: translate(-100%, -50%); font-size: 50px; opacity: 0;">Node ws</h1>
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; right: -40px; transform: translate(100%, -50%); font-size: 50px; opacity: 0;">Bun.serve()</h1>
                        <div id="node" style="background: rgb(93, 89, 134); position: absolute; left: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%);">196,705</h1></div>
                        <div id="bun" style="background: rgb(60, 60, 60); position: absolute; right: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; left: 20px; transform: translateY(-50%);">1,228,800</h1></div>
                    </div>
                    <div id="sqliteGraph" style="width: 100%; height: 150px; position: relative;">
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; left: -40px; transform: translate(-100%, -50%); font-size: 50px; opacity: 0;">better-sqlite3</h1>
                        <h1 id="label" class="nospace" style="position: absolute; top: 50%; right: -40px; transform: translate(100%, -50%); font-size: 50px; opacity: 0;">Bun sqlite</h1>
                        <div id="node" style="background: rgb(93, 89, 134); position: absolute; left: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%);">21.03</h1></div>
                        <div id="bun" style="background: rgb(60, 60, 60); position: absolute; right: 0; height: 100%; width: 0%; overflow: hidden;"><h1 class="nospace" style="position: absolute; top: 50%; left: 20px; transform: translateY(-50%);">65.57</h1></div>
                    </div>
                </div>
            </div>
        </center>
    </fullpage>
    <fullpage id="p2" active="0">
        <center class="centered">
            <h1 class="nospace" style="font-size: 60px;">Solution</h1>
            <div class="nospace" style="position: relative; width: 100vw; top: 2vh; height: 0;">
                <div id="daytonaCode" class="nospace" style="position: absolute; width: 33vw; left: 17vw; height: 100%; overflow: hidden;">
                    <img src="/static/daytonaExample.png" style="position: absolute; height: calc(80vh - 75px); left: 0; top: 0;">
                </div>
                <div id="expressCode" class="nospace" style="position: absolute; width: 33vw; right: 17vw; height: 100%; overflow: hidden;">
                    <img src="/static/expressExample.png" style="position: absolute; height: calc(80vh - 75px); left: 0; top: 0;">
                </div>
                <img src="/static/workingExample.png" style="position: absolute; height: 100%; transform: translateX(-50%); left: 50%; opacity: 0;">
            </div>
        </center>
        <img id="daytonaLogo" class="nospace" src="/static/daytona.svg" style="opacity: 0; height: 500px; position: absolute; top: 50%; right: 50%; transform: translate(50%, calc(-50% + 100px));">
        <h1 id="expressLogo" class="nospace" style="position: absolute; font-family: 'Open Sans', sans-serif; font-size: 80px; top: 50%; transform: translate(0%, -60%); left: 85%; opacity: 0;">Express</h1>
    </fullpage>
    <fullpage id="p3" active="0">
        <div id="container" style="position: absolute; height: 100vh; top: 0; display: flex; flex-direction: row; justify-content: space-around; left: 50%; transform: translateX(-50%)">
            <div id="barsContainer" class="nospace" style="align-self: flex-start; position: relative; width: 30vw; margin-right: 5vw; height: 90vh; border-bottom: 3px solid white; display: flex; flex-direction: row; justify-content: space-evenly; opacity: 0;">
                <div id="daytonaGraph" style="position: relative; width: 40%; height: 100%; align-self: flex-end;">
                    <center id="bar" style="position: absolute; width: 100%; height: 0; background: rgb(93, 89, 134); bottom: 0; overflow: hidden">
                        <img src="/static/daytona.svg" style="position: relative; height: 4vw; top: 2vh;">
                        <h2 style="margin: 40px;"><span>0</span> requests per second</h2>
                    </center>
                </div>
                <div id="expressGraph" style="position: relative; width: 40%; height: 100%; align-self: flex-end;">
                    <center id="bar" style="position: absolute; width: 100%; height: 0; background: rgb(60, 60, 60); bottom: 0; overflow: hidden">
                        <h1 class="nospace" style="position: relative; font-family: 'Open Sans', sans-serif; font-size: 1.5vw; top: 2vh;">Express</h1>
                        <h2 style="margin: 40px;"><span>0</span> requests per second</h2>
                    </center>
                </div>
            </div>
            <div style="position: relative; align-self: center; width: 20vw; margin-right: 30vw;" id="textContainer">
                <h1 class="nospace" style="font-size: 60px; margin-top: 80px;">Statistics</h1>
                <h1 id="stats" style="opacity: 0;">
                    <span id="title">never gonna give you up</span> Test<br>
                    daytona is <span id="multiplier"></span>x faster
                </h1>
            </div>
        </div>
    </fullpage>
    <fullpage id="p4" active="0">
        <div style="background: #323232; position: absolute; width: 100%; height: 100%; overflow: hidden;opacity: 0; z-index: 1;" id="background"></div>
        <center class="centered" style="z-index: 2;">
            <h1 class="nospace" style="font-size: 60px;">RMDY</h1>
            <div style="position: relative; top: 5vh; opacity: 0; overflow: visible; height: 0; --e: 30vh;">
                <img style="height: 30vh; background: white;" src="https://images.datacamp.com/image/upload/v1647430873/kaggle_logo_icon_168474_4eb653edb6.png">
            </div>
        </center>
        <iframe src="http://localhost:3000" frameborder="0" style="height: 100%; width: 100%; z-index: 3; position: absolute;" active="0"></iframe>
        <div style="position: absolute; right: 0; bottom: 0; height: 100px; width: 100px; z-index: 4; cursor: pointer;"></div>
    </fullpage>
    <fullpage id="p5" active="0" style="background: white; overflow-y: scroll;">
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <h1 style="margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; -webkit-text-stroke: 0.2vh #BE1212; font-family: IBM Plex Serif; font-size: 10vh;">storiology</h1>
        <a class="nospace centered" style="font-size: 3vh; color: #BE1212; font-family: IBM Plex Serif; left: 20vw; text-decoration: none;">login</a>
        <a class="nospace centered" style="font-size: 3vh; color: #BE1212; font-family: IBM Plex Serif; left: 80vw; text-decoration: none;">signup</a>
        <h1 class="banner" style="top: 100vh;">where kid volunteers read<br>to kids in the hospital</h1>
        <div style="margin: 5vw; width: 90vw; display: flex; justify-content: space-between; position: absolute; top: 120vh; color: #BE1212">
            <h1 style="padding-right: 5vh; font-size: 52px; font-family: IBM Plex Serif;">
                at storiology, we are driven by a single goal: to do our part in making the world a better place for all, including the kids in hospitals.
                <p style="font-size: 36px; font-family: IBM Plex Serif;">build productive relationships | make a positive impact</p>
            </h1>
            <img src="/static/smolkenji.png" style="height: 40vh" />
        </div>
        <div style="position: absolute; top: calc(160vh + 10vw); font-family: IBM Plex Serif; padding: 7.5vh; height: 50vh; width: auto; justify-content: start;" class="banner">
            <h1 class="nospace" style="font-family: IBM Plex Serif; -webkit-text-stroke: 0.2vh white; font-size: 10vh; color: transparent; line-height: 0.75">Recognition</h1>
            <h1 class="nospace" style="font-family: IBM Plex Serif; font-size: 10vh">Recognition</h1>
            <span style="font-weight: 900; font-family: Inter; color: white; position: absolute; top: 15vh; left: 20%; transform: translate(-50%, -50%); font-size: 30vh">+</span>
            <span style="font-weight: 900; font-family: Inter; color: white; position: absolute; top: 15vh; left: 80%; transform: translate(-50%, -50%); font-size: 30vh">+</span>
            <div style="width: calc(100vw - 15vh); display: flex; flex-direction: row; height: 45vh">
                <div style="width: calc(50vw - 7.5vh); position: relative">
                    <div class=centered style="width: 75%; text-align: center">
                        <h1 class=nospace style="font-family: IBM Plex Serif; font-size: 5vh">“Storiology is such a great idea”</h1>
                        <p style="font-family: IBM Plex Serif; font-size: 3vh;">- Angie Sage, author of the <i style="font-family: IBM Plex Serif;">Septimus Heap</i> series</p>
                    </div>
                </div>
                <div style="width: calc(50vw - 7.5vh); position: relative">
                    <div class=centered style="width: 75%; text-align: center">
                        <h1 class=nospace style="font-family: IBM Plex Serif; font-size: 5vh">“I’d love to donate some books to Storiology”</h1>
                        <p style="font-family: IBM Plex Serif; font-size: 3vh;">- Adam Gidwitz, author of <i style="font-family: IBM Plex Serif;">A Tale Dark and Grimm</i></p>
                    </div>
                </div>
            </div>
        </div>
    </fullpage>
    <fullpage id="p6" active="0" style="background: #1C1818;">
        <img src="/static/alego.svg" style="width: 100%; height: 100%;">
    </fullpage>
    <fullpage id="p7" active="0">
        <center class="centered" style="position: relative;">
            <h1 class="nospace" style="font-size: 60px;">Tools</h1>
            <div style="top: 0vh; position: relative; display: flex; flex-direction: row; height: 0vh; opacity: 0; --e: calc(27vh + 63px); justify-content: center;">
                <div style="position: relative; height: 25vh; width: 25vh;">
                    <img src="/static/mongodb.svg" style="height: 25vh">
                    <center style="font-size: 50px; margin: 0; position: absolute; top: 27vh; width: 25vh; font-weight: bold;">Mongo DB</center>
                </div>
                <div id="daytona" style="position: relative; height: 25vh; width: 0; opacity: 0; overflow: visible; --e: 25vh">
                    <div style="height: 25vh; width: 25vh; background: url(/static/daytona.svg); background-size: contain; background-repeat: no-repeat; background-position: center center;"></div>
                    <center style="font-size: 50px; margin: 0; position: absolute; top: 27vh; width: 25vh; font-weight: bold;">Daytona</center>
                </div>
                <div id="postal" style="position: relative; height: 25vh; width: 0; opacity: 0; overflow: visible; --e: 25vh;">
                    <img src="/static/postal.png" style="height: 25vh;">
                    <center style="font-size: 50px; margin: 0; position: absolute; top: 27vh; width: 25vh; font-weight: bold;">Postal</center>
                </div>
                <div id="tauri" style="position: relative; height: 25vh; width: 0; opacity: 0; overflow: visible; --e: 25vh">
                    <div style="height: 25vh; width: 25vh; background: url(/static/tauri.svg); background-size: contain; background-repeat: no-repeat; background-position: center center;"></div>
                    <center style="font-size: 50px; margin: 0; position: absolute; top: 27vh; width: 25vh; font-weight: bold;">Tauri</center>
                </div>
                <div id="socketio" style="position: relative; height: 25vh; width: 0; opacity: 0; overflow: visible; --e: 25vh">
                    <img src="/static/socket.io.svg" style="height: 25vh">
                    <center style="font-size: 50px; margin: 0; position: absolute; top: 27vh; width: 25vh; font-weight: bold;">Socket.io</center>
                </div>
            </div>
        </center>
        <div style="opacity: 0; position: absolute; left: 0; top: 0; height: 100vh; width: 100vw; background: rgb(30, 30, 30);">
            <img src="/static/postalRequirements.png" class="centered" style="height: 60vh;">
            <img src="/static/100gbRequirement.png" id="gb100" style="position: absolute; transition: 0s; left: 0; top: 0; opacity: 0; height: 100vh; width: 100vw;">
        </div>
    </fullpage>
    <fullpage id="p8" active="0">
        <h1 class="nospace centered" style="font-size: 60px;">Getting a Server</h1>
    </fullpage>
    <fullpage id="p9" active="0">
        <h1 class="nospace centered" style="font-size: 60px;">Future?</h1>
    </fullpage>
    <fullpage id="p10" active="0">
        <img src="/static/qrCode.svg" class="nospace" style="height: 30vh; position: absolute; right: 51vw; top: 50%; transform: translateY(-50%); opacity: 0;">
        <h1 class="centered nospace" style="font-size: 60px;">Thank you for listening!</h1>
    </fullpage>
    <%- include("./blob") %>
    <%- include("./script") %>
<%- include("../partials/feet") %>